export MONGO_URL='mongodb+srv://yuan_rw:7IVq7kNz1PhtGXoj@cluster0-23rda.mongodb.net/test?retryWrites=true&w=majority';
export AMQP_URL="amqp://izlpilde:yQSNkComDQHyW6Up-tTrfvTOjlRKTc6a@vulture.rmq.cloudamqp.com/izlpilde";